body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.menu{
    overflow: hidden;
}
.menu a {
    color: #1d1c1c;
    float: left;
    text-decoration: none;
    padding: 10px 22px;
    font-size: 17px;

}
.menu a:hover{
    color: #009688;
}
.menu-right{
    float: right;
}
.flex{
    display: flex;
}
.divide{
padding-left: 20px;
width: 50%;
}
.header1{
color: #000000ad;
}
.btn{
background-color: none;
border: none;
border-radius: 10px;
background: linear-gradient(45deg, #000000eb, #009688);
color: white;
padding: 13px 22px;    
}
#about_me_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}